@include breakpoint-loop() {

    @each $value in $background-attachments {
        .bg-#{$value}#{$breakpoint-suffix} {
            background-attachment: #{$value};
        }
    }

    @each $value in $background-sizes {
        .bg-#{$value}#{$breakpoint-suffix} {
            background-size: #{$value};
        }
    }

    @each $key, $value in $background-positions {
        .bg-#{$key}#{$breakpoint-suffix} {
            background-position: #{$value};
        }
    }

    @each $key, $value in $background-repeats {
        .bg-#{$key}#{$breakpoint-suffix} {
            background-repeat: #{$value};
        }
    }
}