$borders: (
    0: 0,
    1: 1px,
    2: 2px,
    4: 4px,
    8: 8px,
);

$border-radius: (
    none: 0,
    sm: .125rem,
    md: .25rem,
    lg: .5rem,
    full: 9999px,
);

*,
::after,
::before {
    border: 0 solid #DADDE0;
}

@include breakpoint-loop() {
    @each $color, $value in $colors {
        .border-#{$color}#{$breakpoint-suffix} {
            border-color: $value;
        }
    }

    .border#{$breakpoint-suffix} {
        border-width: 1px;
    }

    @each $key, $value in $borders {
        // Top
        .border-#{$key}#{$breakpoint-suffix},
        .border-t-#{$key}#{$breakpoint-suffix},
        .border-y-#{$key}#{$breakpoint-suffix} {
            border-top-width: #{$value};
        }

        // Bottom
        .border-#{$key}#{$breakpoint-suffix},
        .border-b-#{$key}#{$breakpoint-suffix},
        .border-y-#{$key}#{$breakpoint-suffix} {
            border-bottom-width: #{$value};
        }

        // Left
        .border-#{$key}#{$breakpoint-suffix},
        .border-l-#{$key}#{$breakpoint-suffix},
        .border-x-#{$key}#{$breakpoint-suffix} {
            border-left-width: #{$value};
        }

        // Right
        .border-#{$key}#{$breakpoint-suffix},
        .border-r-#{$key}#{$breakpoint-suffix},
        .border-x-#{$key}#{$breakpoint-suffix} {
            border-right-width: #{$value};
        }
    }

    @each $key, $value in $border-radius {
        .rounded-#{$key}#{$breakpoint-suffix} {
            border-radius: #{$value};
        }
        // Top
        .rounded-t-#{$key}#{$breakpoint-suffix} {
            border-top-left-radius: #{$value};
            border-top-right-radius: #{$value};
        }
        .rounded-tl-#{$key}#{$breakpoint-suffix} {
            border-top-left-radius: #{$value};
        }
        .rounded-tr-#{$key}#{$breakpoint-suffix} {
            border-top-right-radius: #{$value};
        }

        // Bottom
        .rounded-b-#{$key}#{$breakpoint-suffix} {
            border-bottom-left-radius: #{$value};
            border-bottom-right-radius: #{$value};
        }
        .rounded-bl-#{$key}#{$breakpoint-suffix} {
            border-bottom-left-radius: #{$value};
        }
        .rounded-br-#{$key}#{$breakpoint-suffix} {
            border-bottom-right-radius: #{$value};
        }

        // Left
        .rounded-l-#{$key}#{$breakpoint-suffix} {
            border-top-left-radius: #{$value};
            border-bottom-left-radius: #{$value};
        }

        // Right
        .rounded-r-#{$key}#{$breakpoint-suffix} {
            border-top-right-radius: #{$value};
            border-bottom-right-radius: #{$value};
        }
    }
}