@include breakpoint-loop() {

    @each $key, $value in $shadows {
        .#{$key}#{$breakpoint-suffix} {
            box-shadow: #{$value};
        }

        @each $color, $color-value in $shadow-colors {
            .#{$key}-#{$color}#{$breakpoint-suffix} {
                $shadow: str-replace($value, '0, 0, 0', '#{red($color-value)}, #{green($color-value)}, #{blue($color-value)}');
                box-shadow: #{$shadow};
            }

            .shadow-outline-#{$color}#{$breakpoint-suffix} {
                box-shadow: 0 0 0 3px rgba($color-value, 0.4),
            }
        }
    }

    .shadow-none#{breakpoint-loop} {
        box-shadow: none;
    }

    .opacity-100#{breakpoint-loop} {
        opacity: 1;
    }
    .opacity-75#{breakpoint-loop}	{
        opacity: .75;
    }
    .opacity-50#{breakpoint-loop}	{
        opacity: .5;
    }
    .opacity-25#{breakpoint-loop}	{
        opacity: .25;
    }
    .opacity-0#{breakpoint-loop} {
        opacity: 0;
    }
}