@include breakpoint-loop() {
    @each $color, $value in $colors {
        @each $prop, $abbrev in ('color': 'text', 'background-color': 'bg') {
            .#{$abbrev}-#{$color}#{$breakpoint-suffix} {
                #{$prop}: $value;
            }
        }
        .placeholder-#{$color}#{$breakpoint-suffix}::placeholder {
            color: $value;
        }
    }

    .fill-current#{$breakpoint-suffix} {
        fill: currentColor;
    }

    .stroke-current#{$breakpoint-suffix} {
        stroke: currentColor;
    }
}