@include breakpoint-loop() {
    @each $key, $value in $flex-direction {
        .#{$key}#{$breakpoint-suffix} {
            flex-direction: #{$value};
        }
    }
    @each $key, $value in $flex-wrap {
        .#{$key}#{$breakpoint-suffix} {
            flex-wrap: #{$value};
        }
    }
    @each $key, $value in $align-items {
        .#{$key}#{$breakpoint-suffix} {
            align-items: #{$value};
        }
    }
    @each $key, $value in $align-content {
        .#{$key}#{$breakpoint-suffix} {
            align-content: #{$value};
        }
    }
    @each $key, $value in $align-self {
        .#{$key}#{$breakpoint-suffix} {
            align-self: #{$value};
        }
    }
    @each $key, $value in $justify-content {
        .#{$key}#{$breakpoint-suffix} {
            justify-content: #{$value};
        }
    }
    @each $key, $value in $flex {
        .#{$key}#{$breakpoint-suffix} {
            flex: #{$value};
        }
    }
    @each $key, $value in $flex-grow {
        .#{$key}#{$breakpoint-suffix} {
            flex-grow: #{$value};
        }
    }
    @each $key, $value in $flex-shrink {
        .#{$key}#{$breakpoint-suffix} {
            flex-shrink: #{$value};
        }
    }
    @each $key, $value in $order {
        .order-#{$key}#{$breakpoint-suffix} {
            order: #{$value};
        }
    }
}