@include breakpoint-loop() {
    @each $position in $positions {
        .#{$position}#{$breakpoint-suffix} {
            position: #{$position};
        }
    }

    // Top
    .pin#{$breakpoint-suffix},
    .pin-t#{$breakpoint-suffix},
    .pin-y#{$breakpoint-suffix} {
        top: 0;
    }

    // Bottom
    .pin#{$breakpoint-suffix},
    .pin-b#{$breakpoint-suffix},
    .pin-y#{$breakpoint-suffix} {
        bottom: 0;
    }

    // Left
    .pin#{$breakpoint-suffix},
    .pin-l#{$breakpoint-suffix},
    .pin-x#{$breakpoint-suffix} {
        left: 0;
    }
    
    // Left
    .pin#{$breakpoint-suffix},
    .pin-r#{$breakpoint-suffix},
    .pin-x#{$breakpoint-suffix} {
        right: 0;
    }

    // Top
    .pin-auto#{$breakpoint-suffix},
    .pin-t-auto#{$breakpoint-suffix},
    .pin-y-auto#{$breakpoint-suffix} {
        top: auto;
    }

    // Bottom
    .pin-auto#{$breakpoint-suffix},
    .pin-b-auto#{$breakpoint-suffix},
    .pin-y-auto#{$breakpoint-suffix} {
        bottom: auto;
    }

    // Left
    .pin-auto#{$breakpoint-suffix},
    .pin-l-auto#{$breakpoint-suffix},
    .pin-x-auto#{$breakpoint-suffix} {
        left: auto;
    }
    
    // Left
    .pin-auto#{$breakpoint-suffix},
    .pin-r-auto#{$breakpoint-suffix},
    .pin-x-auto#{$breakpoint-suffix} {
        right: auto;
    }
}