@include breakpoint-loop() {
    @each $key, $value in $fonts {
        .font-#{$key}#{$breakpoint-suffix} {
            font-family: #{$value};
        }
    }

    @each $key, $value in $font-sizes {
        .text-#{$key}#{$breakpoint-suffix} {
            font-size: #{$value};
        }
    }

    @each $key, $value in $font-weights {
        .font-#{$key}#{$breakpoint-suffix} {
            font-weight: #{$value};
        }
    }

    @each $key, $value in $letter-spacings {
        .spacing-#{$key}#{$breakpoint-suffix} {
            letter-spacing: #{$value};
        }
    }

    @each $key, $value in $line-heights {
        .line-#{$key}#{$breakpoint-suffix} {
            line-height: #{$value};
        }
    }

    .antialiased#{$breakpoint-suffix} {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .subpixel-antialiased#{$breakpoint-suffix} {
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
    }

    .italic#{$breakpoint-suffix} {
        font-style: italic;
    }
    .font-normal#{$breakpoint-suffix},
    .not-italic#{$breakpoint-suffix} {
        font-style: italic;
    }

    .list-none#{$breakpoint-suffix} {
        list-style-type: none;
    }
    .list-disc#{$breakpoint-suffix} {
        list-style-type: disc;
    }
    .list-decimal#{$breakpoint-suffix} {
        list-style-type: decimal;
    }
    .list-inside#{$breakpoint-suffix} {
        list-style-position: inside;
    }
    .list-outside#{$breakpoint-suffix} {
        list-style-position: outside;
    }

    .text-left#{$breakpoint-suffix} {
        text-align: left;
    }
    .text-center#{$breakpoint-suffix} {
        text-align: center;
    }
    .text-right#{$breakpoint-suffix} {
        text-align: right;
    }
    .text-justify#{$breakpoint-suffix} {
        text-align: justify;
    }

    .underline#{$breakpoint-suffix} {
        text-decoration: underline;
    }
    .line-through#{$breakpoint-suffix} {
        text-decoration: line-through;
    }
    .no-underline#{$breakpoint-suffix} {
        text-decoration: none;
    }

    .uppercase#{$breakpoint-suffix} {
        text-transform: uppercase;
    }
    .lowercase#{$breakpoint-suffix} {
        text-transform: lowercase;
    }
    .capitalize#{$breakpoint-suffix} {
        text-transform: capitalize;
    }
    .normal-case#{$breakpoint-suffix} {
        text-transform: none;
    }

    .align-baseline#{$breakpoint-suffix} {
        vertical-align: baseline;
    }
    .align-top#{$breakpoint-suffix} {
        vertical-align: top;
    }
    .align-middle#{$breakpoint-suffix} {
        vertical-align: middle;
    }
    .align-bottom#{$breakpoint-suffix} {
        vertical-align: bottom;
    }
    .align-text-top#{$breakpoint-suffix} {
        vertical-align: text-top;
    }
    .align-text-bottom#{$breakpoint-suffix} {
        vertical-align: text-bottom;
    }

    .whitespace-normal#{$breakpoint-suffix} {
        white-space: normal;
    }
    .whitespace-no-wrap#{$breakpoint-suffix} {
        white-space: nowrap;
    }
    .whitespace-pre#{$breakpoint-suffix}	 {
        white-space: pre;
    }
    .whitespace-pre-line#{$breakpoint-suffix} {
        white-space: pre-line;
    }
    .whitespace-pre-wrap#{$breakpoint-suffix} {
        white-space: pre-wrap;
    }

    .break-normal#{$breakpoint-suffix} {
        word-break: normal;
        overflow-wrap: normal
    }
    .break-words#{$breakpoint-suffix} {
        overflow-wrap: break-word;
    }
    .break-all#{$breakpoint-suffix} {
        word-break: break-all;
    }
    .truncate#{$breakpoint-suffix} {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
}