@include breakpoint-loop() {
    @each $key, $value in $widths {
        .#{$key}#{$breakpoint-suffix} {
            width: #{$value};
        }
    }
    @each $key, $value in $max-widths {
        .#{$key}#{$breakpoint-suffix} {
            max-width: #{$value};
        }
    }

    .min-w-0#{$breakpoint-suffix} {
        min-width: 0;
    }
    .min-w-full#{$breakpoint-suffix} {
        min-width: 100%;
    }

    @each $key, $value in $heights {
        .#{$key}#{$breakpoint-suffix} {
            height: #{$value};
        }
    }

    .min-h-0#{$breakpoint-suffix} {
        min-height: 0;
    }
    .min-h-full#{$breakpoint-suffix} {
        min-height: 100%;
    }
    .min-h-screen#{$breakpoint-suffix} {
        min-height: 100vh;
    }

    .max-h-full#{$breakpoint-suffix} {
        max-height: 100%;
    }
    .max-h-screen#{$breakpoint-suffix} {
        max-height: 100vh;
    }
}